#app-bar {
	display: flex;
	@media (min-width: 600px) {
		flex-direction: row;
		justify-content: space-evenly;
	}
	@media (min-width: 1024px) {
		flex-direction: row;
		justify-content: space-between;
	}
}
#brand {
	color: #da4444 !important;
	font-family: 'Charm', cursive;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.MenuBar {
	color: white;
	display: flex;
	text-align: center;
	justify-content: center;
	@media (min-width: 370px) {
		justify-content: space-around;
	}
	@media (min-width: 600px) {
		justify-content: flex-end;
	}
}
